@import "tailwindcss";

.calculator-btn{
    cursor: pointer;
    color: white;
    width: 110px;
    height: 40px;
    font-family: monospace;
    font-size: 200%;

    &:hover{ color: rgb(165, 165, 165); }
    &:active{ color: rgb(117, 117, 117); }
}